@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    background: linear-gradient(165deg, #321896 0%, #B27CF6 100%);
    width: 100%;
    &__items{
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        position: relative;
        &__menu{
            right: 12%;
            position: absolute;
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            list-style: none;
            text-decoration: none;
            width: 60%;
            &__item{
                display: block;
                & a{
                    text-decoration:none;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    color: #FFFFFF;
                }
                &__create{
                    width: 230px;
                    padding: 5px;
                    background: #FFFFFF;
                    border-radius: 16px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    color: #391E9D;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.card{
    width: 100%;
    height: 170px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 0px 1px rgba(9, 30, 66, 0.08), 0px 4px 8px -2px rgba(9, 30, 66, 0.25);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 40px;
    cursor: pointer;
    &__image{
        height: 100%;
        max-width: 200px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px 0 0 16px;
        &__item{
            width: 100%;
            min-height: 70%;
            max-height: 90%;
        }
    }
    &__text{
        width: 40%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        &__information{
            display: flex;
            justify-content: space-between;
            &__item{
                color: #808080;
                font-size: 14px;
                font-family: Raleway;
                font-weight: 400;
            }
        }
    }
    &__tags{
        display: flex;
        width: 100%;
        &__item{
            border-radius: 18px;
            opacity: 0.699999988079071;
            background: linear-gradient(180deg, #B27CF6 0%, #FFF 100%);
            box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
            opacity: 0.699999988079071;
            color: #000;
            font-size: 16px;
            font-family: Raleway;
            padding: 7px 20px 7px 20px;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
    &__right{
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        &__contacts{
            margin-bottom: 10px;
        }
        &__mail{
            color: #000;
            font-size: 14px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            height: 40px;
            width: 40px;
            border: 0;
            background-color: #fff;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 1px rgba(9, 30, 66, 0.08), 0px 4px 8px -2px rgba(9, 30, 66, 0.25);
            cursor: pointer;
        }
    }
}
h1{
    color: #000;
    font-size: 36px;
    font-family: Raleway;
    font-weight: 900;
}
h2{
    color: #000;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 400;
}

.about{
    width: 100%;
    &__desc-title{
        display: block;
        margin: 0 auto;
        color: #000;
        font-size: 24px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__desc{
        margin-top: 20px;
        width: 100%;
        color: #000;
        font-size: 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400; 
    }
    &__dev{
        margin-top: 30px;
        display:flex;
        &__developers{
            display: flex;
            flex-direction: column;
            margin-right: 15%;
            &__title{
                color: #000;
                font-size: 24px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &__item{
                margin-top: 20px;
                display: flex;
                align-items: center;
                &__text{
                    width: 100px;
                    margin-left: 20px;
                    color: #000;
                    font-size: 16px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        &__galery{
            &__title{
                color: #000;
                font-size: 24px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &__img{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 20px;
                & img{
                    margin-bottom: 20px;
                    width: 200px;
                    margin-right: 20px;
                }
            }
        }
    }
    
}

.comments{
    width: 100%;
    margin-top: 50px;
    &__btn{
        display: block;
        border-radius: 5px;
        margin-top: 20px;
                    background: linear-gradient(0deg, rgba(50, 24, 150, 1), rgba(111, 65, 208, 1) 20%, rgba(178, 124, 246, 1) 90%);
                    color: #FFFFFF;
                    font-size: 20px;
                    font-family: Raleway;
                    border: none;
                    padding: 10px 30px;
                    cursor: pointer;
    }
    &__title{
        color: #000;
        text-align: center;
        font-size: 24px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 40px;
        line-height: normal;
    }
    &__main{
        margin-top: 20px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        &__item{
            display: flex;
            flex-direction: column;
            width: 50%;
            & span{
                color: var(--text-color, #1A1A1A);
                font-size: 14px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 10px;
            }
            & input{
                width: 90%;
                color: #808080;
                font-size: 20px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 5px;
            }
        }
    }
    &__input{
        margin-top: 20px;
        width: 70%;
        color: #808080;
        font-size: 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px; 
    }
}
.com{
    width: 100%;
    &__item{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: #000;
        font-size: 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &__title{
            margin-bottom: 10px;
            color: #000;
            font-size: 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            &__date{
                margin-left: 20px;
                color: #808080;
                font-size: 15px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        &__answ{
            margin-top: 5px;
            text-decoration: none;
            color: #808080;
            font-size: 16px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    margin-bottom: 100px;
}

.footer{
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 200px;
    &__bg{
        background: #6F41D0;
    }
    &__menu{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        &__item{
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }
    }
    &__text{
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: absolute;
        right: 0;
    }
}
.developer__photo{
    width: 100px;
}
.valid.active{
    border: 1px solid red;
}